* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 51px;
}

nav {
    height: 51px;
    background-color: #212121;    
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 70px;
    margin:0;
    list-style-type: none;
}

.menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

.menu_item {
    border-right: 2px dotted black;
    padding-right: 43px;
}

.menu_item:last-child {
    border-right: none;
}

.subheader {
    position: absolute;
    top: 51px;
    width: 100%;
    min-height: 84px;
    background-color: rgba(0, 0, 0, .6)
}

.subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

.subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;
}

.subheader_phone {
    display: block;
    margin-top: 3px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    text-align: right;
    line-height: 23px;
}

.subheader_btn {
    margin-top: 17px;
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    border-radius: 4px;
}

.promo {
    min-height: 799px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 151px 0 32px 0;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
    line-height: 50px;
}

.promo_subheader {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 20px auto 0 auto;

}

.promo_discpr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 23px;
    text-align: center;
}

.promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 265px;
    height: 69px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);
    font-size: 18px;
    line-height: 68px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    border-radius: 4px;
}

.reason {
    padding: 79px 0 68px 0;
    min-height: 900px;
}

.reason_before {
    padding-top: 4px;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.reason_header {
    margin: 0;
    margin-top: 38px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.reason_col {
    margin: 0 auto;
    margin-top: 50px;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.reason_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reason_discpr {
    width: 345px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #202020;
    text-align: justify;
}

.reason_discpr span {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7;
}
                    